@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);

.SaveAlertBox {
  -webkit-box-shadow: 3px 0 white, -3px 0 white, 0 -3px white, 0 3px white,
    6px 0 white, -6px 0 white, 0 -6px white, 0 6px white, 0 0 0 3px white,
    9px 0 black, -9px 0 black, 0 9px black, 0 -9px black, 0 -3px 0 3px black,
    0 3px 0 3px black, 3px 0 0 3px black, -3px 0 0 3px black;
  box-shadow: 3px 0 white, -3px 0 white, 0 -3px white, 0 3px white, 6px 0 white,
    -6px 0 white, 0 -6px white, 0 6px white, 0 0 0 3px white, 9px 0 black,
    -9px 0 black, 0 9px black, 0 -9px black, 0 -3px 0 3px black, 0 3px 0 3px black,
    3px 0 0 3px black, -3px 0 0 3px black;
  margin: 1em 0em 3em 0em;
  padding: 0em 0.6em;
  font: 1em 'Press start 2P';
  font-weight: 700;
  line-height: 160%;
  max-width: 650px;
  width: 60vw;
  height: auto;
  text-align: center;
  display: inline-block;
  background: white;
  word-wrap: break-word;
}

@media screen and (max-width: 890px) {
  .SaveAlertBox {
    font: 0.75em 'Press start 2P';
  }
}

@media screen and (max-width: 462px) {
  .SaveAlertBox {
    font: 0.5em 'Press start 2P';
  }
}
