.SignUpButton {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  cursor: pointer;
  margin: 0 auto;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 2px solid rgba(255, 157, 0, 1);
  border-radius: 10px;
  font: normal 20px/1 'VT323', Helvetica, sans-serif;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  letter-spacing: 1px;
  background: rgb(102, 34, 0);
  -webkit-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0),
    color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0),
    border-width 0.3s cubic-bezier(0, 0, 0, 0),
    border-color 0.3s cubic-bezier(0, 0, 0, 0);
  -moz-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0),
    color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0),
    border-width 0.3s cubic-bezier(0, 0, 0, 0),
    border-color 0.3s cubic-bezier(0, 0, 0, 0);
  -o-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0),
    color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0),
    border-width 0.3s cubic-bezier(0, 0, 0, 0),
    border-color 0.3s cubic-bezier(0, 0, 0, 0);
  transition: background-color 0.3s cubic-bezier(0, 0, 0, 0),
    color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0),
    border-width 0.3s cubic-bezier(0, 0, 0, 0),
    border-color 0.3s cubic-bezier(0, 0, 0, 0);
  outline: none !important;
}

.SignUpButton:hover {
  color: rgba(255, 255, 255, 1);
  background: rgb(77, 26, 0);
}

.SubmitButton:active {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}

@media screen and (max-width: 890px) {
  .SignUpButton {
    font: normal 20px/1 'VT323', Helvetica, sans-serif;
  }
}

@media screen and (max-width: 462px) {
  .SignUpButton {
    font: normal 15px/1 'VT323', Helvetica, sans-serif;
  }
}
