.SignUpFieldsVerticalLayoutStyle {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  margin: auto;
  margin-bottom: 10px;
  text-align: center;
  width: 80%;
  max-width: 390px;
}

.SignUpFieldsCheckMarkLayoutStyle {
  position: relative;
  float: right;
}

.SignUpFieldsHoriztonalLayoutStyle {
  position: relative;
  width: 100%;
  text-align: left;
}

.SignUpBodyText {
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0px;
  overflow: hidden;
  border: none;
  font: normal 40px/1 'VT323', Helvetica, sans-serif;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  text-shadow: 2px 2px 0 rgba(109, 158, 235, 1);
}

.SignUpBodyTextInput {
  margin-bottom: 20px;
  padding: 5px;
  font-size: 15px;
  width: 80%;
  max-width: 300px;
}

.SignUpBorderLineStyle {
  border: 0;
  width: 60%;
  background-color: #fff;
  border-top: 5px dashed #8c8c8c;
}

@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);

.SignUpAlertBox {
  -webkit-box-shadow: 3px 0 white, -3px 0 white, 0 -3px white, 0 3px white,
    6px 0 white, -6px 0 white, 0 -6px white, 0 6px white, 0 0 0 3px white,
    9px 0 black, -9px 0 black, 0 9px black, 0 -9px black, 0 -3px 0 3px black,
    0 3px 0 3px black, 3px 0 0 3px black, -3px 0 0 3px black;
  box-shadow: 3px 0 white, -3px 0 white, 0 -3px white, 0 3px white, 6px 0 white,
    -6px 0 white, 0 -6px white, 0 6px white, 0 0 0 3px white, 9px 0 black,
    -9px 0 black, 0 9px black, 0 -9px black, 0 -3px 0 3px black,
    0 3px 0 3px black, 3px 0 0 3px black, -3px 0 0 3px black;
  margin: 1em 0em 3em 0em;
  padding: 0em 0.6em;
  font: 0.7em 'Press start 2P';
  font-weight: 200;
  line-height: 160%;
  max-width: 300px;
  width: 60vw;
  height: auto;
  position: relative;
  text-align: center;
  display: inline-block;
  background: white;
  word-wrap: break-word;
}

.SignUpAlertBoxText {
  margin-top: 10px;
  margin-bottom: 10px;
}

@media screen and (max-width: 890px) {
  .SignUpBodyText {
    font: normal 30px/1 'VT323', Helvetica, sans-serif;
  }
  .SignUpBodyTextInput {
    font-size: 14px;
    width: 75%;
  }
  .SignUpAlertBox {
    font: 0.65em 'Press start 2P';
    line-height: 150%;
    width: 60vw;
  }
  .SignUpAlertBoxText {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

@media screen and (max-width: 462px) {
  .BorderLineStyle {
    border-top: 3px dashed #8c8c8c;
  }
  .SignUpBodyText {
    font: normal 20px/1 'VT323', Helvetica, sans-serif;
  }
  .SignUpBodyTextInput {
    font-size: 10px;
    width: 70%;
  }
  .SignUpAlertBox {
    font: 0.5em 'Press start 2P';
    line-height: 140%;
    width: 60vw;
  }
  .SignUpAlertBoxText {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}
